# Ignorar carpeta de dependencias de Node.js
node_modules/

# Ignorar el archivo de base de datos SQLite
database.sqlite

# Ignorar variables de entorno (recomendado por seguridad, aunque para examen podrías incluir un .env.example)
.env